{% extends "base.html" %}
{% block title %}Login de usuario{% endblock %}
{% block head %}Login de usuario{% endblock %}
{% block content %}
    {% if form.has_errors %}
        <p>O nome de usuario ou a senha estao incorretos. Tente novamente.</p>
    {% endif %}
    <form method="post" action=".">
    {% csrf_token %}
        <p><label for="id_username">Usuario:</label>
            {{ form.username }}</p>
        <p><label for="id_password">Senha:</label>
            {{ form.password }}</p>
        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Login" />
    </form>
{% endblock %}