{% load staticfiles %}
<html>
    <head>
{#    {% load bootstrap3 %}#}
        <title>Site do CampeoNET | {% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% block script %}{% endblock %}

{#        <link rel="stylesheet" href="/static/style.css" type="text/css" />#}
    </head>


    <body>
        <div class="navbar-fixed">
            <nav class="amber darken-2">
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                       <li><a href="/" class="brand-logo center">CampeoNet</a></li>
                                {% if user.is_authenticated %}
                                        Bem vindo {{ user.username }}
                       <li>             <a href="/logout">Logout</a></li>
                       <li>         <a class="dropdown-button" href="#!" data-activates="drop-palpites">Palpites<i class="material-icons right">arrow_drop_down</i></a></li>

                            {% else %}
                       <li>         <a href="/login/">Login</a></li>
                       <li>         <a href="/register/">Registrar</a></li>
                            {% endif %}
                    </ul>
                </div>
            </nav>
        </div>


        <ul id="drop-palpites" class="dropdown-content">
            <li><a href="{% url 'cadastro_palpite' %}">Realizar palpite</a></li>
            <li><a href="{% url 'participantes' %}">Ver palpites por participante</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'palpites-geral' %}">Todos os palpites</a></li>
        </ul>


        <h1>{% block head %}{% endblock %}</h1>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% block js %}
        {% endblock %}

     <!--  Scripts-->
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/materialize.js' %}"></script>
      <script src="{% static 'js/init.js' %}"></script>
      <script>$(document).ready(function() {
        $('select').material_select();
      });
      </script>
      <script> $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });
      </script>
        <script>$(document).ready(function() {
        $('input#input_text, textarea#textarea1').characterCounter();
      });
      </script>
      <script>
        $(".dropdown-button").dropdown({ hover: true });
      </script>
    </body>
</html>



