{% extends "base.html" %}
{% block title %}Bem vindo ao site CampeoNET {% endblock %}
{% block head %}Bem vindo ao site CampeoNET <h5 class="red-text">versão BETA</h5> {% endblock %}

{% block content %}

        {% if user.username %}
            <p>Bem vindo {{ user.username }}! Você já pode realizar o seu palpite para
            o próximo GP.</p>
        {% else %}
            <p>Bem vindo visitante. Para realizar um palpite e necessario realizar o
            login. Clique <a href="{% url 'login' %}">aqui</a>.</p>
        {% endif %}

{% endblock %}