{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h2>Palpites para o GP</h2>
    <fieldset class="z-depth-1">
        <form action="" method="post">{% csrf_token %}
            <table>

              <tr>
                <th>Grid Largada</th>
                <th>Grid Chegada</th>
                <th>Volta Rapida</th>
              </tr>
              <tr>
                <td>
                    <label for="{{ form.palp_pole.id_for_label }}">{{ form.palp_pole.label }}</label>
                    {{ form.palp_pole }}
                </td>
                <td>
                    <label for="{{ form.palp_vencedor.id_for_label }}">{{ form.palp_vencedor.label }}</label>
                    {{ form.palp_vencedor }}
                </td>
                <td>
                     <label for="{{ form.palp_volta.id_for_label }}">{{ form.palp_volta.label }}</label>
                    {{ form.palp_volta }}
                </td>
              </tr>
              <tr>
                <td>
                    <label for="{{ form.palp_segLarg.id_for_label }}">{{ form.palp_segLarg.label }}</label>
                    {{ form.palp_segLarg }}
                </td>
                <td>
                    <label for="{{ form.palp_vegLug.id_for_label }}">{{ form.palp_vegLug.label }}</label>
                    {{ form.palp_vegLug }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                    <label for="{{ form.palp_tercLarg.id_for_label }}">{{ form.palp_tercLarg.label }}</label>
                    {{ form.palp_tercLarg }}
                </td>
                <td>
                    <label for="{{ form.palp_tercLug.id_for_label }}">{{ form.palp_tercLug.label }}</label>
                    {{ form.palp_tercLug }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                    <label for="{{ form.palp_quaLarg.id_for_label }}">{{ form.palp_quaLarg.label }}</label>
                    {{ form.palp_quaLarg }}
                </td>
                <td>
                    <label for="{{ form.palp_quaLug.id_for_label }}">{{ form.palp_quaLug.label }}</label>
                    {{ form.palp_quaLug }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                    <label for="{{ form.palp_quinLarg.id_for_label }}">{{ form.palp_quinLarg.label }}</label>
                    {{ form.palp_quinLarg }}
                </td>
                <td>
                    <label for="{{ form.palp_quinLug.id_for_label }}">{{ form.palp_quinLug.label }}</label>
                    {{ form.palp_quinLug }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><label for="{{ form.palp_sexLug.id_for_label }}">{{ form.palp_sexLug.label }}</label>
                    {{ form.palp_sexLug }}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                    <label for="{{ form.palp_setLug.id_for_label }}">{{ form.palp_setLug.label }}</label>
                    {{ form.palp_setLug }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                    <label for="{{ form.palp_oitLug.id_for_label }}">{{ form.palp_oitLug.label }}</label>
                    {{ form.palp_oitLug }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><label for="{{ form.palp_nonLug.id_for_label }}">{{ form.palp_nonLug.label }}</label>
                    {{ form.palp_nonLug }}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><label for="{{ form.palp_decLug.id_for_label }}">{{ form.palp_decLug.label }}</label>
                    {{ form.palp_decLug }}</td>
                <td></td>
              </tr>

                {{ form.participante }}
                {{ form.id_calendarioGP }}
                {{ form.comentario }}

    {#            <button type="submit" class="btn btn-primary btn-md">{% bootstrap_icon "ok" %} Enviar palpite</button>#}
                <div class="fixed-action-btn" style="bottom: 4%; right: 8%;">
                    <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light light-blue
                                  lighten-1 save" title="Cadastrar palpite">
        {#                <input type="submit" value="Create" />#}
                        <i class="large material-icons">save</i>
                    </button>
                </div>
            </table>
        </form>
    </fieldset>
</div>

{% endblock content %}