{% extends 'base.html' %}
{% block content %}
<h4>Lista de Palpites  {{ object_list.0.id_calendarioGP.id_gp }}</h4>
{#<fieldset class="z-depth-1">#}
    {% for palpite in object_list %}
        Participante: {{ palpite.participante }}
        <p> data do palpite: {{ palpite.data_palpite }}
        <table class="bordered highlight">
            <tr>
                <th>Posicao</th>
                <th>Largada</th>
                <th>Corrida</th>
                <th>Volta Rapida</th>
            </tr>
            <tr>
                <td>1</td>
                <td>{{ palpite.palp_pole }}<br></td>
                <td>{{ palpite.palp_vencedor }}</td>
                <td>{{ palpite.palp_volta }}</td>
            </tr>
              <tr>
                <td>2</td>
                <td>{{ palpite.palp_segLarg }}<br></td>
                <td>{{ palpite.palp_vegLug }}</td>
              </tr>
              <tr>
                <td>3</td>
                <td>{{ palpite.palp_tercLarg }}<br></td>
                <td>{{ palpite.palp_tercLug }}</td>
              </tr>
              <tr>
                <td>4</td>
                <td>{{ palpite.palp_quaLarg }}</td>
                <td>{{ palpite.palp_quaLug }}</td>
              </tr>
              <tr>
                <td>5</td>
                <td>{{ palpite.palp_quinLarg }}</td>
                <td>{{ palpite.palp_quinLug }}</td>
              </tr>
              <tr>
                <td>6</td>
                <td></td>
                <td>{{ palpite.palp_sexLug }}</td>
              </tr>
              <tr>
                 <td>7</td>
                 <td></td>
                <td>{{ palpite.palp_setLug }}</td>
              </tr>
              <tr>
                <td>8</td>
                <td></td>
                <td>{{ palpite.palp_oitLug }}</td>
              </tr>
              <tr>
                <td>9</td>
                <td></td>
                <td>{{ palpite.palp_nonLug }}</td>
              </tr>
              <tr>
                <td>10</td>
                <td></td>
                <td>{{ palpite.palp_decLug }}</td>
              </tr>
              <tr>
                  <td>Comentario</td>
                  <td class="card-panel amber lighten-4">{{ palpite.comentario }}</td>
              </tr>
        </table>
        <br>
        <br>
    {% endfor %}
{#</fieldset>#}

{% endblock %}



<table>
  <tr>
    <th>Posicao</th>
    <th>Piloto<br></th>
  </tr>
  <tr>
    <td>Pole<br></td>
    <td>P1<br></td>
  </tr>
  <tr>
    <td>2 Grid<br></td>
    <td>P2<br></td>
  </tr>
  <tr>
    <td>3 Grid<br></td>
    <td>P3<br></td>
  </tr>
  <tr>
    <td>4 Grid<br></td>
    <td>P4</td>
  </tr>
  <tr>
    <td>5 Grid<br></td>
    <td>P5</td>
  </tr>
  <tr>
    <td>Vencedor</td>
    <td>P6</td>
  </tr>
  <tr>
    <td>2 Corrida<br></td>
    <td>P7</td>
  </tr>
  <tr>
    <td>3 Corrida</td>
    <td>P8</td>
  </tr>
  <tr>
    <td>4 Corrida</td>
    <td>P9</td>
  </tr>
  <tr>
    <td>5 Corrida</td>
    <td>P10</td>
  </tr>
  <tr>
    <td>6 Corrida</td>
    <td></td>
  </tr>
  <tr>
    <td>7 Corrida</td>
    <td></td>
  </tr>
  <tr>
    <td>8 Corrida</td>
    <td></td>
  </tr>
  <tr>
    <td>9 Corrida</td>
    <td></td>
  </tr>
  <tr>
    <td>10 Corrida<br></td>
    <td></td>
  </tr>
  <tr>
    <td>Volta Rapida<br></td>
    <td></td>
  </tr>
</table>





<div class="container">
    <div class="panel-group">
        <div class="panel-primary">
            <div class="panel-heading">
                <h1>Lista palpites - teste</h1>
            </div>
            <div clas="panel-body">
                <table class="table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Participante</th>
                        <th>data palpite</th>
                        <th>comentario</th>
                    </tr>
                </thead>
                <tbody>
                        {% for palpite in palpite_list %}
                            <tr>
                                <td>{{ palpite.participante }}</td>
                                <td>{{ palpite.data_palpite }}</td>
                                <td>{{ palpite.comentario }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>Sem palpites.</td>
                            </tr>
                        {% endfor %}
                </tbody>
                </table>
            </div>
        </div>


        <div class="panel-info">
            <div class="panel-heading">
                    <h1>Palpite Grid Largada</h1>
            </div>
            <div class="panel-body">
                    <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Participante</th>
                            <th>pole position</th>
                            <th>Segundo largada</th>
                            <th>Terceiro largada</th>
                            <th>Quarto largada</th>
                            <th>Quinto largada</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for palpite in palpite_list %}
                                <tr>
                                    <td>{{ palpite.participante }}</td>
                                    <td>{{ palpite.palp_pole.nome_piloto }}</td>
                                    <td>{{ palpite.palp_segLarg.nome_piloto }}</td>
                                    <td>{{ palpite.palp_tercLarg.nome_piloto }}</td>
                                    <td>{{ palpite.palp_quaLarg.nome_piloto }}</td>
                                    <td>{{ palpite.palp_quinLarg.nome_piloto }}</td>

                                </tr>
                            {% empty %}
                                <tr>
                                    <td>Sem palpites.</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>

        <div class="panel-success">
            <div class="panel-heading">
                <h1>Palpite Final Corrida</h1>
            </div>

            <div class="panel-body">
                <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Participante</th>
                        <th>Vencedor</th>
                        <th>Segundo lugar</th>
                        <th>Terceiro lugar</th>
                        <th>Quarto lugar</th>
                        <th>Quinto lugar</th>
                        <th>Sexto lugar</th>
                        <th>Setimo lugar</th>
                        <th>Oitavo lugar</th>
                        <th>Nono lugar</th>
                        <th>Decimo lugar</th>
                        <th>Melhor volta</th>
                    </tr>
                </thead>
                <tbody>
                        {% for palpite in palpite_list %}
                            <tr>
                                <td>{{ palpite.participante }}</td>
                                <td>{{ palpite.palp_vencedor.nome_piloto }}</td>
                                <td>{{ palpite.palp_vegLug.nome_piloto }}</td>
                                <td>{{ palpite.palp_tercLug.nome_piloto }}</td>
                                <td>{{ palpite.palp_quaLug.nome_piloto }}</td>
                                <td>{{ palpite.palp_quinLug.nome_piloto }}</td>
                                <td>{{ palpite.palp_sexLug }}</td>
                                <td>{{ palpite.palp_setLug }}</td>
                                <td>{{ palpite.palp_oitLug }}</td>
                                <td>{{ palpite.palp_nonLug }}</td>
                                <td>{{ palpite.palp_decLug }}</td>
                                <td>{{ palpite.palp_volta }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>Sem palpites.</td>
                            </tr>
                        {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>