{% extends 'base.html' %}
{% load campeotag static staticfiles %}
{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>COMPETIDORES</th>
            {% for calendario in calendarios %}
                <th class="center">{{ calendario.id_gp.nomeGP }}
                    <br><img class="center" src="{{ MEDIA_URL }}{{ calendario.id_gp.bandeira }}"/>

                </th>
            {% endfor %}
            <th class="center">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for participante in object_list %}
            <tr>
                <td>{{ participante.get_full_name }}</td>
                {% for calendario in calendarios %}
                    {% busca_resultado calendario.id participante.id as resultado %}
                    <td id="part{{ participante.id }}_cor{{ calendario.id }}" class="td-resultado center"
                        data-resultado="{{ resultado }}">
                        {{ resultado }}
                    </td>
                {% endfor %}
                <td class="total center"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript"> //faz o somatorio dos totais parciais
        $(document).ready(function () {

            $('.total').each(function () {
                var resultado = 0;
                var lista_td = $(this).parent().children('td.td-resultado');
                for (var i = 0; i < lista_td.length; i++) {
                    resultado += $('#'+lista_td[i].id).data("resultado");
                }
                $(this).append(resultado);
            });

        });
    </script>
{% endblock %}